color-primary-0 = #494949
color-primary-1 = #89898A
color-primary-2 = #696969
color-primary-3 = #222222
color-primary-4 = #020203

BackgroundColor = color-primary-1
TitleColor = color-primary-2
WallColor = white
LinkColor = color-primary-2
TextMainColor = color-primary-2
TextSpecialColor = color-primary-3


color-graph-0 = #EDF393
color-graph-1 = #F5E665
color-graph-2 = #FFC472
color-graph-3 = #FFA891
color-graph-4 = #89BABE

color-graph-alt-0 = darken(color-graph-0, 20)
color-graph-alt-1 = darken(color-graph-1, 20)
color-graph-alt-2 = darken(color-graph-2, 20)
color-graph-alt-3 = darken(color-graph-3, 20)
color-graph-alt-4 = darken(color-graph-4, 20)

color-graph-alt2-0 = lighten(color-graph-0, 20)
color-graph-alt2-1 = lighten(color-graph-1, 20)
color-graph-alt2-2 = lighten(color-graph-2, 10)
color-graph-alt2-3 = lighten(color-graph-3, 10)
color-graph-alt2-4 = lighten(color-graph-4, 10)

cat-vals = (cat0 cat0ln color-graph-0 color-graph-alt2-0) (cat1 cat1ln color-graph-1 color-graph-alt2-1) (cat2 cat2ln color-graph-2 color-graph-alt2-2) (cat3 cat3ln color-graph-3 color-graph-alt2-3) (cat4 cat4ln color-graph-4 color-graph-alt2-4)

width-sm = 768px