@import "colors"
@import "hover-bracket"
@import "footer"

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

.row
  margin-left 0
  margin-right 0
.no-col-pad
  padding-left 0
  padding-right 0

body
  padding 5px
  //font 14px "Merriweather", serif
  font 14px "Droid Serif", serif
  .container
    padding-bottom 50px
    max-width 970px
  background-color BackgroundColor
  background-image: url(/img/bg.png);
  color TextMainColor

h1, h2, h3, h4, h5, h6, subtitle, blockquote, em, i
  font-family: 'Josefin Slab', serif;
  text-rendering: optimizeLegibility;

.color-glitch-solid
  text-shadow: -0.05em 0 red, 0.05em 0 cyan;
a
  color black

description()
  padding-top 1em
  font-family: 'Josefin Slab', serif;
  font-style italic
  text-align center
  
.post
  line-height 20px // make it a bit more readable, especially with the hacky link underlines
  margin-bottom 5em
  h1, h2, h3, h4
    display block
    margin-bottom 0
    padding-bottom 0
  subtitle
    margin-bottom 1em
    display block
    color #a12
    text-shadow: 0.06em 0 cyan;
  .emblock-1
    height 1em
  .small-space
    min-height 4em
  a, a:visited, a:active
    transition border-bottom 0.3s
    color black
    text-decoration none
    border-bottom: 1px TextMainColor dotted;
  a:hover
    color black
    text-decoration none
    border-bottom 1px alpha(TextMainColor, 0) dotted
  .description
    description()
  .darkband
    background-color TextSpecialColor
    position relative
    margin-left -40px
    margin-right -40px
    padding-left 40px
    padding-right 40px
    padding-top 1.5em
    padding-bottom 0.5em
    box-shadow inset 0 4px 0px darken(TextSpecialColor, 10%), inset 0 -4px 0px darken(TextSpecialColor, 10%);
    .description
      color WallColor
    a, a:visited, a:active
      color WallColor
      border-bottom: 1px darken(WallColor, 50%) dotted;
    a:hover
      color darken(WallColor, 50%)
      text-decoration none
      border-bottom: 1px WallColor solid;
      border: none;
  ul
    li
      line-height 1.5em
      list-style-type: circle;
      font-family: 'Josefin Slab', serif;

.wall
  margin-top 1em
  padding 2em 0px 20px 0px
  background-color WallColor
  -moz-box-shadow 0px 2px 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow 0px 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow 0px 2px 2px rgba(0, 0, 0, 0.3)
  .content
    padding-left 40px
    padding-right 40px
    h3 
      small
        position relative
        bottom 0.25em
  .content-line
    padding-top 1em
.login-title
  color #555
  font-size 18px
  font-weight 400
  display block

.error-message
  color red
  
.message-section
  margin-top 1em
  margin-bottom -2em

.social
  padding-bottom 0.5em
  display inline-block
  width 100%
  padding-left 1em
  padding-right 1em

.social-block
  display inline-block
  width 100%

.side-img
  margin 0
  width 100%

imgpost(imgh)
  -webkit-filter: grayscale(30%)
  filter: grayscale(30%)
  overflow hidden
  object-fit cover
  width 100%
  height imgh
  -moz-box-shadow 2px 2px 8px rgba(0, 0, 0, 0.5)
  -webkit-box-shadow 2px 2px 8px rgba(0, 0, 0, 0.5)
  box-shadow 2px 2px 8px rgba(0, 0, 0, 0.5)
  
.img-post
  imgpost(150px)
  
.img-post-big
  imgpost(220px)

[class*='col-'].no-gutter
  padding-right 0
  padding-left 0