div.row.post
  div.col-sm-9
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quo mollitia repudiandae ipsum veritatis, alias dolores, eaque iste iusto libero vel provident modi recusandae voluptatum ex fugit voluptate perferendis veniam?
    blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum asperiores alias veritatis, mollitia qui provident recusandae. Fugiat id culpa, dicta distinctio in eum eligendi quisquam aut, magni unde sapiente. Sequi.
    ul
      li Lorem ipsum dolor sit.
      a(href="#")
        li Lorem ipsum dolor.
      li Lorem ipsum dolor sit.
      li Lorem ipsum dolor sit amet.
    table.table
      tr
        th Lorem
        th ipsum
        th dolor
        th sit
      tr
        td alpha
        td beta
        td charlie
        td delta
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id velit, totam rerum ducimus ipsa pariatur omnis at deserunt nulla, vitae facere dolor corrupti illum consectetur recusandae reiciendis ad dicta vero.
  div.col-sm-3
    img(src="http://placehold.it/256x300").img-responsive.side-img
div.post-end