div.block-graph
	- var n = 0;
	a(href="#cpp")
		span.description C PLUS PLUS
		while n < 420
			span.block-node.cpp
			- n++
	- var n = 0;
	span.section-divider
	a(href="#cs")
		span.description C SHARP
		while n < 220
			span.block-node.cs
			- n++
	- var n = 0;
	span.section-divider
	a(href="#js")
		span.description JAVASCRIPT
		while n < 200
			span.block-node.js
			- n++
	- var n = 0;
	span.section-divider
	a(href="#boo")
		span.description BOO
		while n < 180
			span.block-node.boo
			- n++
	- var n = 0;
	span.section-divider
	a(href="#ruby")
		span.description RUBY
		while n < 100
			span.block-node.ruby
			- n++
div.clearfix 