- var l = [{t:'c plus plus', url:'#cpp', d: 220}, {t:'c sharp', url:'#cs', d:199}, {t:'javascript', url:'#js', d:82}, {t:'boo', url:'#boo', d:77}, {t:'ruby', url:'#ruby', d:142}];

div.block-graph
	include placeholder-graphtop.jade
	div.data
		- var n = 0;
		while n < l.length
			-var i = 0;
			a(href=l[n].url)
				while i < l[n].d
					if i == 0
						span.block-node(class="cat"+n) &#9702;
					else
						span.block-node(class="cat"+n)
					- i++
			- n++
div.clearfix
br