div.block-graph
	- var n = 0;
	a(href="#cpp")
		i cpp
		while n < 420
			span.block-node.cpp
			- n++
	- var n = 0;
	span.section-divider
	a(href="#cs")
		i C#
		while n < 220
			span.block-node.cs
			- n++
	- var n = 0;
	span.section-divider
	a(href="#js")
		i js
		while n < 200
			span.block-node.js
			- n++
	- var n = 0;
	span.section-divider
	a(href="#boo")
		i boo
		while n < 180
			span.block-node.boo
			- n++
	- var n = 0;
	span.section-divider
	a(href="#ruby")
		i ruby
		while n < 100
			span.block-node.ruby
			- n++
div.clearfix 