div#title-content
  span#links
    ul
      //li #[a(href="/wiki") wiki]
      //li &middot;
      li #[a(href="/wiki/about") about]
      li &middot;
      li #[a(target="_blank" href="https://docs.google.com/document/d/1h5VOnS2i0NrOV2C4EjRFwZyYPV9wSmB3KXqr5dXgoF4/edit?usp=sharing") resume]
  span#maintitle
    div.tri-bracket
      div
        a(href="/")#hoverarea
          h4 A COLLECTION OF WORKS BY
          br
          h2 JARED THOMSON