div.wall
  div.content#title-mini-content
    div.row
      h2 
        a(href="/") XOORATH
      ul#title-list
        li
          a(href="http://twitter.com/xoorath").fa.fa-twitter
        li
          a(href="http://github.com/xoorath").fa.fa-github-alt
        li
          a(href="http://scribble.city").fa.fa-gamepad
        li
          a(href="mailto:jared@xoorath.com").fa.fa-envelope
        li
          a(href="/resume.pdf").fa.fa-file-text