extends layout

block content
  div.row
    include ./widgets/title-mini.jade
  div.row
    +message
  div.wall
    .content
      h1= message
      if error
        if error.status
          h2= error.status
        else
          h2 no status to show.
      else
        h2 no error to show
      if error
        h3 #{error}
        if error.stack
          pre #{error.stack}
        else
          pre no stack.
      else
        pre no error to show
    .content-line