
extends layout

block content
	div.row
		+message
		div.wall
			.content
				h1.text-center XOORATH
				h5.text-center a collection of creative works
				ul.title-list
					li.fa.fa-twitter 
						a(href="#") twitter
					li.fa.fa-github
						a(href="#") github
					li.fa.fa-file-text 
						a(href="#") resume
					li.fa.fa-envelope
						a(href="#") email
					//- li.fa.fa-gamepad 
					//- 	a(href="#") http://scribble.city
		div.wall
			.content
				div.row
					div.col-xs-4
						div.strip
							h1.text-center digital
							img(src="https://placehold.it/400x1200").img-responsive
							br
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quo mollitia repudiandae ipsum veritatis, alias dolores, eaque iste iusto libero vel provident modi recusandae voluptatum ex fugit voluptate perferendis veniam?
					div.col-xs-4.strip
						div.strip
							h1.text-center physical
							img(src="https://placehold.it/400x1200").img-responsive
							br
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sapiente nesciunt, sed tenetur iste doloribus! Recusandae perspiciatis voluptatibus amet dolorum, ab laboriosam voluptates rem commodi, ipsam impedit dolores pariatur id!
					div.col-xs-4.strip
						div.strip
							h1.text-center experimental
							img(src="https://placehold.it/400x1200").img-responsive
							br
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis perferendis corporis quas nobis iure laudantium nostrum odit aut maxime accusamus, possimus, vel magnam animi, obcaecati libero distinctio tempore consectetur dolores.