extends layout

block includes
  script(src='/js/landing.js')
  link(rel='stylesheet', href='/landing.css')

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  div.row#landing
    div.col-sm-6
      div.wall.post
        span.landingtitle
          h3.color-glitch-solid #[a(href="/wiki/digital") DIGITAL]
          div.darkband
            h5 programming and games
          ul
            li #[a(href="/wiki/digital") All Digital Projects]
            li #[a(href="/wiki/digital/indie") All Indie Projects]
            li #[a(href="/wiki/digital/indie/scribblecity") Scribble City]
            li #[a(href="/wiki/digital/ubisoft/forhonor") For Honor]
            li #[a(href="/wiki/digital/ubisoft") Ubisoft Montreal]
          img(src="/img/xiabotnia_game2.png").img-responsive
    div.col-sm-6
      div.wall.post
        span.landingtitle
          h3.color-glitch-solid #[a(href="/wiki/mechanical") MECHANICAL]
          div.darkband
            h5 physical arts
          ul
            li #[a(href="/wiki/mechanical/woodworking") All Woodworking]
            li #[a(href="/wiki/mechanical/metalworking") All Metalworking]
            li #[a(href="/wiki/mechanical/ruin") RUIN]
            li #[a(href="/wiki/mechanical/wavecoaster") Coasters]
            li #[a(href="/wiki/mechanical/shopprojects") Shop Projects]
          img(src="img/brewing1.jpg").img-responsive