extends layout

block content
	div.row
		div.col-xs-12.col-sm-6.col-md-4.col-md-offset-4.col-sm-offset-3
			+message
			div.wall
				h1 index jade
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum nostrum ad quasi repudiandae, ratione. Similique excepturi officiis nisi dolorum. Soluta culpa id velit explicabo hic. Magni quisquam, aspernatur animi. Praesentium.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque eveniet nulla at accusamus harum laborum ea optio soluta nostrum! Eius voluptatem laboriosam hic cum? Consectetur repudiandae quia sint facilis harum.
