
extends layout

block includes

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  div.row
    div.wall
      .content#inner-content
        div.row
          h3 OUTPUT
            small : time spent over 64 days
          include ./widgets/placeholder-horiz64graph.jade
          include ./widgets/placeholder-post.jade
        div.row
          hr
          h3 CATEGORIES 
            small : 12 MONTHS
          include ./widgets/placeholder-blockgraph.jade
          include ./widgets/placeholder-post.jade
        div.row
          hr
          h3 CATEGORIES 
            small : ALL
          include ./widgets/placeholder-blockgraph.jade
          include ./widgets/placeholder-post.jade
        div.row
          #endofpage
