extends layout

block includes

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  div.row
    include posts/digital.jade
    include posts/mechanical.jade
    include posts/bizzare.jade
