extends layout

block includes
  link(rel='stylesheet', href='/landing.css')

block content
  div.row
    include ./widgets/title-home.jade
  div.row
    +message
  div.row#landing
    div.col-sm-4
      div.wall.post
        span.landingtitle
          h3.color-glitch-solid #[a(href="/wiki/digital") DIGITAL]
          div.darkband
            h5 programming and games
          ul
            li #[a(href="/wiki/games/scribblecity") Scribble City]
            li #[a(href="/wiki/code/introspection") Introspection]
            li #[a(href="/wiki/games/ubisoft") Ubisoft Montreal]
            //li #[a(href="") Game Jams]
            //li #[a(href="") Open Source]
    div.col-sm-4
      div.wall.post
        span.landingtitle
          h3.color-glitch-solid #[a(href="/wiki/mechanical") MECHANICAL]
          div.darkband
            h5 woodworking and making
          ul
            li #[a(href="/wiki/make/ruin") RUIN]
            li #[a(href="/wiki/make/foundry") The Metal Foundry]
            li #[a(href="/wiki/make/shopprojects") Shop Projects]
    div.col-sm-4
      div.wall.post
        span.landingtitle
          h3.color-glitch-solid #[a(href="/wiki/bizzare") THE BIZZARE]
          div.darkband
            h5 brewing and other arts
          ul
            li #[a(href="/wiki/brewing/therabbit") The Rabbit &middot; Black IPA]
            li #[a(href="/wiki/artcode/imageanagram") Image Anagram]
            li #[a(href="/wiki/artcode/xiabotnia") Xiabotnia]