extends layout

block includes
  link(rel='stylesheet', href='/login.css')

block content
  div.row
    include ./widgets/title-mini.jade
  div.row
    +message
  div.row
    div.wall
      h1.text-center Admin Login
      if user
        h1 you're lost
        p what are you doing here?
      else
        form(class='form-signin', action='/login', method='POST').row
          div.col-sm-4.col-sm-offset-4
            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
            input(type='password', name='password' class='form-control', placeholder='Password', required)
            button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
            a(href='/signup', class='text-center new-account') Create an account
            span.clearfix