extends post.jade

block data
  // readability
  -var watchdogs = {img:'/img/watchdogs_game1.jpg', link:'/wiki/ubisoft/watchdogs', txt:'Watch Dogs'};
  -var scribblecity = {img:'/img/scribblecity_game2.png', link:'/wiki/indie/scribblecity', txt:'Scribble City'};
  -var forhonor = {img:'/img/forhonor_game1.jpg', link:'/wiki/ubisoft/forhonor', txt:'For Honor'}
  -var citizenscientists = {img:'/img/citizenscientists_art1.png', link:'/wiki/indie/citizenscientists', txt:'Citizen Scientists'};
  // required data:
  -var title = 'DIGITAL'; 
  -var subtitle = 'programming and games';
  -var imgMain = forhonor;
  -var darkband = {size:'col-sm-4', images:[watchdogs, scribblecity, citizenscientists]};

block textMain
  p #[a(href="/wiki") Visit my wiki] to see a full collection of my works or jump to one of the following categories of interest.
  ul
    li #[a(href="/wiki/ubisoft") Video games at Ubisoft Montreal]
    li #[a(href="/wiki/snowedin") Projects at Snowed In Studios]
    li #[a(href="/wiki/indie") Independent games]
    li #[a(href="/wiki/gamejam") Game jams]
    li #[a(href="/wiki/artcode") Art-code projects]
    li #[a(href="/wiki/mobile") Mobile games]
    li #[a(href="/wiki/consolepc") Console & PC games]
    li #[a(href="/wiki/programming") All programming projects]