extends post.jade

block data
  // readability
  -var ruin = {img:'/img/ruin1.jpg', link:'/wiki/cnc/ruin', txt:'Ruin'};
  -var goblinking = {img:'/img/goblinking1.jpg', link:'/wiki/foundrywork/goblin', txt:'The Goblin King'};
  -var mallet = {img:'/img/mallet1.jpg', link:'/wiki/woodworking/mallet', txt:'Woodworking Mallet'}

  // required data:
  -var title = 'MECHANICAL'; 
  -var subtitle = 'Woodworking and Making';
  -var imgMain = ruin;
  -var darkband = {size:'col-sm-4', images:[goblinking, mallet, goblinking]};

block textMain
  p #I like to work with my hands creating sawdust and sparks.
  p #[a(href="/wiki") Over on my wiki] you'll find a list of my physical projects, a journal of their creation and links to #[a(href="#") my store] where you can buy my work, when available. See the links below for a categorized index.
  ul
    li #[a(href="/wiki/woodworking") Woodworking]
    li #[a(href="/wiki/foundrywork") Foundrywork]
    li #[a(href="/wiki/blacksmithing") Blacksmithing]
    li #[a(href="/wiki/rc") RC Aircraft]
    li #[a(href="/wiki/cnc") CNC Projects] with #[a(target="_blank" href="http://thecanadianmaker.com/") The Canadian Maker]