extends post.jade

block data
  -var title=wiki.title || 'TITLE NOT SET';
  -var subtitle=wiki.subtitle|| null;
  -var imgMain = wiki.imgmain || null;
  -var darkband = (wiki.darkband ? (wiki.darkband != '' ? JSON.parse(wiki.darkband) : null) : null);
  -var imgMain = (wiki.imgmain ? (wiki.imgmain != '' ? JSON.parse(wiki.imgmain) : null) : null);
  //-var ruin = {img:'/img/ruin1.jpg', link:'/wiki/cnc/ruin', txt:'Ruin'};
  //-var imgMain = ruin;
  //-var darkband = {size:'col-sm-4', images:[goblinking, mallet, goblinking]};

block textMain
  != md.makeHtml(wiki.content)
